[2013-03-25 10:27] nowack73 opened #1 "Problem with post dependencies and ncm-ncd --nodeps"
I am wondering why ncm-ncd (13.3) behaves unexpected when I use `--nodeps`.
I would like to run only one single component (e.g. accounts).
Accounts has a post dependency requiring filecopy.

If I run `ncm-ncd --configure accounts  --verbose --nodeps --autodeps=0 --debug 9` I get this:

[code]

`--nodeps` ignores the pre dependency (spma) as expected, but the post dependency causes an error.

If I

[2013-05-22 11:16] #1 closed, assigned to piojo

[2013-11-28 13:03] piojo-zz opened #12 "Support the post-transaction-actions plugin in spma::yum"
It happens to us that we upgrade f.i, nginx, and the RPM sits there but the daemon is not restarted and the old, vulnerable version keeps running.

This is easy to achieve with Yum's [post-transaction-actions plugin](https://docs.fedoraproject.org/en-US/Fedora/14/html/Software_Management_Guide/ch06s13s02.html).  With this we can even have services restarted when their dependencies require so. For

[2013-11-28 13:18] #12 closed, assigned to piojo

[2013-12-03 18:08] jrha opened #13 "Remove support for shipping perl modules in profiles"
As mentioned in #11, we do not recommend or support shipping Perl modules as part of the profiles and have no plan to do so. It makes sense therefore to remove the crufty code.

[2014-02-02 11:35] piojo-zz opened #14 "Allow to clean-up files as they leave the profile"
With the help of quattor/CAF#10, we should be able to track which files are owned by Quattor components, and enable a clean-up infrastructure.

The use case is that components like metaconfig or filecopy create files but don't remove them when these files leave the profile. This can cause problems in, f.i, Apache, where old configurations are left behind.

[2014-03-17 11:29] piojo-zz opened #16 "Review paths for commands"
At some institutions, they run or test Quattor from AFS. Having paths harcoded (e.g, `/usr/sbin/ccm-fetch`) makes it cumbersome for them.

[2014-05-16 13:13] nowack73 opened #18 ""--skip" does not skip"
Hi,

I found a peculiarity of ncm-ncd: Calling "ncm-ncd --configure --all --skip spma" gives:

The log says spma will be skipped, but then it is run anyway. Strange...

Best regards,
  Andreas

[2014-05-16 13:16] nowack73 opened #19 "--noautodeps not documented"
Hello,

in ncd-ncd version 14.2.1, the option "--noautodeps" is not documented in "ncm-ncd --help"

Best regards,
  Andreas

[2014-05-16 13:25] nowack73 opened #20 "running a single component without its dependencies"
Hello!

In Quattor 13.6, I could run e.g. "ncm-ncd --configure accounts --nodeps --autodeps=0" and only ncm-accounts was executed.

In Quattor 14.2.1, "--autodeps" has been changed to a boolean: So I tried: ncm-ncd --configure accounts --nodeps --noautodeps

But I get this error (with error count 0) now:

The behaviour is the same if I run "ncm-ncd --configure accounts --noautodeps"

The option "-

[2014-05-20 13:32] #19 closed, assigned to nobody

[2014-06-08 18:48] #20 closed, assigned to nobody

[2014-06-24 15:28] jouvin opened #23 "14.5.0: inappropriate error (exception) when specifying an unknown configuration module"
In 14.5.0, executing `ncm-ncd --configure xxx` where `xxx` is an invalid configuration module name results in an exception rather than an explicit error:

[code]

[2014-06-25 12:07] jrha opened #24 "No LICENSE"

[2014-06-26 13:35] #16 closed, assigned to ned21

[2014-06-27 15:04] jouvin opened #25 "failed components should be retried at each run"
Not sure it the problem is in `ncm-ncd` or in `ncm-cdispd`...

In recent versions of `ncm-ncd`, if a component B must be run but has a pre-dependency A that has failed, it is not executed and will never be executed again until either there is another requirement to run B (config change or dependency) or until the node is rebooted (or `ncm-ncd --configure --all` is run). I don't think it was the ca

[2014-06-29 13:03] #25 closed, assigned to nobody

[2014-07-06 22:01] jouvin opened #26 "ReporterMany.pm uniinitialized value if there is a dependency error"
Weh a configuration module has a failed dependency, the following error is displayed:

[code]

The problem seems to occur because `setup_reporter()` seems to be called either too late (in ComponentProxy.pm). The error message itself is trigged by the first $self->debug in `run_all_components()` in `ComponentProxyList.pm`.

Also see https://github.com/quattor/CAF/issues/20.

[2014-07-31 21:20] #24 closed, assigned to nobody

[2014-08-14 17:21] #26 closed, assigned to nobody

[2014-08-27 14:21] #18 closed, assigned to nobody

[2014-11-13 11:11] jouvin opened #29 "14.10.0-rc4: strange false component errors reported during upgrade"
During upgrade from 14.10.0-rc3 to 14.10.0-rc4 (https://github.com/quattor/release/issues/65), on almost all the test nodes (5), during one of the 3 runs of `ncm-ncd` involved in the upgrade process, I got a strange report that `ncm-ncd` exited with status 255 indicating the failure of some configuration modules. Depending on the nodes, the configuration module list is varying (from one component

[2014-11-25 21:54] jouvin opened #30 "errors occuring before running components are not logged"
If an error occurs in `ncm-ncd` before running a component, the error is displayed on `stdout` but is not logged through a reporter as it is not yet initialized (this is partly related to #23). As a result, the error is lost if `ncm-ncd` is not run interactively as `ncm-cdispd` now no longer logs `ncm-ncd` output... (see https://github.com/quattor/ncm-cdispd/issues/18.

[2014-12-09 15:01] jrha opened #34 "Add additional unit test for the _load method"
As mentioned in #33

[2014-12-23 17:35] #23 closed, assigned to nobody

[2015-01-08 10:37] jrha commented on #29
We'll keep an eye out for this again during 14.12 upgrades and decide what to do after that.

[2015-01-08 10:38] jrha commented on #13
Ok, traced it, this was fixed in #36 which did not have a milestone set.

[2015-01-08 10:38] #13 closed

[2015-03-14 08:38] jouvin opened #38 "15.2: unit tests complaining about undefined variables"
Almost all `ncm-ncd` tests complain about missing variable, typically (but not only):

[code]

Probably harmless, at least not worst than before, thus assigning to next milestone.

[2015-03-18 11:53] jouvin opened #39 "15.2.0-rc4: ncm-ncd broken on SL6"
Showstopper for 15.2...

After upgrade to 15.2.0, any attempt to run `ncm-ncd` on a SL6 machine results in the following error:

[code]

Any idea?

[2015-03-18 11:54] jouvin commented on #39
Added to 15.2.0-rc4 status (https://github.com/quattor/release/issues/80).

[2015-03-18 13:32] jrha commented on #39
@stdweird this is your code, can you illuminate?

[2015-03-18 13:43] jrha commented on #39
Awesome.

[2015-03-18 13:45] jrha commented on #39
Duplicated at RAL on SL6, #40 does indeed fix it.

[2015-03-18 17:55] jouvin commented on #39
I'm waiting for the new RC to test. I have no doubt it will fix the pb!

[2015-03-18 17:57] #39 closed

[2015-03-19 11:46] jrha commented on #29
@jouvin can you check for this while testing RCs for 15.2?

[2015-03-19 11:48] jouvin commented on #29
Yes but after I have a working RC!!!

[2015-03-19 11:53] jrha commented on #29
:smile: naturally.

[2015-03-19 23:37] jouvin commented on #29
I have not seen the problem when upgrading systems (already 6) from 14.10.0 to 15.2.0-rc6... Probably we can close the issue at the time we release 15.2.0 and I'll reopen it if I see the problem again.

[2015-03-20 11:28] jrha commented on #29
Excellent news.

[2015-03-25 08:05] #29 closed

[2015-03-26 14:28] jrha opened #41 "Warn if code and schema are of different versions"
Modules using data from the configuration tree should issue a warning if the version of their Perl module is different from the schema version used to validate their tree, this can occur if sites do not pin their package versions or build modified packages.

This is a high level tracker to track the implementation of this across repositories as required.

[2015-03-26 14:32] jrha commented on #41
Many components already provide a version number such as:
[code]
Which might help in the implementation of this.

[2015-04-19 12:37] stdweird opened #43 "refine ComponentProxy _load method check for new method"
The current check in `_load` is very broad. We can refine the test (eg test for subclass from `NCM::Component`), but this might break backwards compatibility (since currently anything with a new method is allowed)

[2015-04-19 12:37] stdweird commented on #43
@ned21 you probably have some ideas :smile:

[2015-04-27 14:13] #34 closed

[2015-04-27 14:13] #38 closed

[2015-08-06 16:30] stdweird opened #46 "remove template toolkit option"
There's a TT option to set the include path. Best to remove it as `CAF::TextRender` ignores it.
Might imply that `ncm-ncd` switch to `CAF:TextRender` completely or that the `->template()` method is removed as well.

[2015-08-13 11:29] stdweird commented on #43
@ned21 any ideas in the meantime?

[2015-08-13 11:38] stdweird commented on #30
@jouvin how can i trigger these types of crashes?

[2015-08-14 21:31] ned21 commented on #43
Good ideas for how to test complex internal methods is normally where I defer to @gombasg :)

What's the actual problem you are trying to solve here? If you just want to limit the scope for Component authors to make mistakes then requiring components to be a subclass of NCM::Component seems reasonable, although I believe we also need to allow sub-classes of other components? (e.g. we have a specia

[2015-08-17 14:13] stdweird commented on #43
i don't know. i think this issue was opened in response to https://github.com/quattor/ncm-ncd/pull/42#discussion_r28651563

subclasses of components will always be subclasses of `NCM::Component` i think.

[2015-08-17 20:45] ned21 commented on #43
So to summarise:
1. _load doesn't enforce very much
2. because of (1) there's not much to unit test

Adding better unit tests means implementing (1), which in turn may break people running "private" configuration modules that do not comply with whatever rules we apply.

So, do we really want more constrained behaviour? If someone wants to write the code I can check it against our internal modules

[2015-08-18 09:30] stdweird commented on #43
@ned21 we could test for a method `Configure` or one of its friends (if it inherits from `NCM::Component` it will have it all of them, if not, well at oeast one should exists otehrwsie `ncm-ncd` can't do much).
but i'm also not sure it adds much, so i'm ok with doing nothing :smile:

[2015-08-19 19:37] ned21 commented on #43
Agree with checking there's a Configure method, the closing this one out.

[2015-08-20 11:17] #43 closed

[2015-09-26 12:00] stdweird opened #48 "log the components and schema version (if any)"
once https://github.com/quattor/maven-tools/pull/62 is in place, we should be able to easily log versions of components (and schemas)
see also https://github.com/quattor/ncm-ncd/issues/41

[2015-09-29 13:35] stdweird opened #49 "ncm-ncd should generate machine readable results file"
So it can be easily consumed by arbitrary monitoing checks. Should hold
* date run started
* number of errors
* number of warnings
* each component with state

Somehow handle ncm-ncd crashes

[2015-10-01 09:13] stdweird opened #50 "close the log instances of the componentproxies and ncm-ncd iteslef, don't rely on DESTROY"

[2015-10-07 10:05] jrha commented on #14
Lack of developer effort, postponed.

[2015-10-10 13:46] stdweird commented on #14
`add_files` is too limited imho, i added https://github.com/quattor/CAF/pull/117

[2015-10-28 18:01] ned21 commented on #41
Please make this optional since our package upgrade schedules are not synchronised to our template releases.

[2015-10-28 19:01] stdweird commented on #41
@ned21 can you clarify a bit more? are you running schemas that are out of sync with components? who puts the schema in place (maunal or scripted?). and how do you expect the component to do the right thing?

decoupling schema and component is not for the faint of heart, we had our share of self inflicted issues and that's the main reason i'd like to have this.

regardless, ofcourse this will be a

[2015-10-29 22:16] ned21 commented on #41
Running schemas that are backwards and forwards compatible with different code releases is quite common in the database world - it's how people do A/B testing, etc.  We just take care to only deploy breaking schema changes when we know a code change has propagated to our plant.

We're managing ok so far but it does take us ages to upgrade and we are currently doing it component by component since

[2015-11-02 10:01] jrha commented on #41
Indeed! But it makes sense to have a reporting mechanism for the versions (and when they differ) which is what this is about.

[2015-12-03 16:00] JulienNauroy opened #52 "ccm-fetch and ncm-ncd broken during installation when an extra repo overwrites a package"
Hi,

I found the following problem and I'm not able to find a solution by myself.
Here's the details:

* I'm adding a repository on one of my clusters which contains a version of perl-common-sense considered as newer by yum (unfortunately I can't give you a pointer to this repo since it's a paying extension to a Nagios-like software called Centreon).

* when installing the machine, right after the

[2015-12-03 19:31] stdweird commented on #52
salut julien,

do you need the "newer" version or not? depending on the answer,
different possibilities arise.

you mean AII or the first reboot after adding this reboot on an already
existing repo?

hmmm, are you sure you got the correct repo? do they have 64bit rpms or
noarch ones? (that should look under /usr/lib64/perl5/vendor_perl. on
fc20 and el7, this is installed under /usr/share/perl5/ven

[2015-12-17 11:30] jrha opened #53 "Typo in src/main/perl/ComponentProxyList.pm"
Correct `satifying` to `satisfying`!

[2016-02-03 22:39] stdweird opened #54 "Set LANG and friends"
Some user got

[code]

[2016-02-11 09:49] stdweird opened #55 "Support pid logging"

[2016-02-15 12:02] jrha opened #56 "Tests failing, unsure of the root cause"
Failed running `build_all_repos.sh` (as root) on SL6, repeatable by running `mvn test` in the repository.

Prototype mismatch?
ignore-errors-from-dependencies: no such variable?

Full output [in a private gist](https://gist.github.com/jrha/c059635b55bc2bfb4728).

Any ideas?

[2016-02-15 12:50] jrha commented on #56
@stdweird this isn't caused by [removing prototypes from CAF](https://github.com/quattor/CAF/pull/137) is it?

[2016-02-15 12:54] jrha commented on #56
Probably not, testing against CAF with protoypes back in doesn't help.

[2016-02-15 12:55] stdweird commented on #56
no, tests run fine on my laptop. i'll try to reproduce.

[2016-02-15 12:57] stdweird commented on #56
tests fail accoring to output due to
[code]

@jrha you do a `mvn clean` first right?

[2016-02-15 13:00] stdweird commented on #56
can you make output with `QUATTOR_TEST_LOG_CMD_MISSING=1 QUATTOR_TEST_LOG_CMD=1 QUATTOR_TEST_LOG_DEBUGLEVEL=3 mvn clean test`

[2016-02-15 13:04] jrha commented on #56
Yup `mvn clean test`.
Running again now.

[2016-02-15 13:05] jrha commented on #56
Done, still fails, I've updated the gist with the output.

[2016-02-15 13:09] jrha commented on #56
On a whim I updated the built tools and it passes, hmm.

[2016-02-15 13:16] jrha commented on #56
Running `build_all_repos` again with #57 merged.

[2016-02-15 13:45] jrha commented on #56
Got past ncm-ncd, failing on configuration-modules-core now.

[2016-02-15 13:45] #56 closed

[2016-04-12 14:11] wdpypere opened #60 "can "noaction" be set in /etc/ncm-ncd.conf or equivalent"
although the new ```--noaction``` feature is nice it is hard to use/implement in a real world. If you compile new profiles and want to test them with noaction you have to be faster than ncm-cdispd and then revert to the old profile to make sure no cron/daemon actually implements the changes.

It would be nice if it is implemented in ```/etc/noquattor``` or ```/etc/ncm-ncd.conf``` or equivalent. wh

[2016-05-03 05:36] stdweird opened #61 "ncm-ncd: report errors/warnings in order of occurrence"
[code]
while ncm-ncd runs them in order spma -> validate ->chkconfig

[2016-05-08 07:38] stdweird opened #62 "ncm-ncd rpm has /var/tmp/ncm, who knows why?"
it's not on our systems anymore, probably cleaned up.
i also can't find any reference to code that uses it
and rpmlint throws an error

[2016-05-09 09:55] jrha commented on #62
No idea, it's on our systems but empty.

[2016-05-12 09:24] jrha commented on #62
Fixed by #59

[2016-05-12 09:24] #62 closed

[2016-06-05 09:48] stdweird opened #63 "ComponentProxy uses LC::Check::NoAction"
Investigate if we should/can swicth to `CAF::Object::NoAction`

[2016-07-11 10:55] stdweird opened #65 "Allow creation of Component instances without this_app"
Requires #46 and handling the initial `NoAction` set

[2016-07-11 10:55] stdweird commented on #46
Seems like only `ncm-postfix` is affected

[2016-07-11 14:06] jouvin opened #66 "ncm-ncd 16.6.0-rc3: log of last component run not flushed until ncm-ncd is restarted"
I observed during upgrade to 16.6.0-rc3 that the lines in `ncm-spma` log file corresponding to last `ncm-spma` run by `ncm-cdispd` were missing in the log file. To get the lines in the file, I had to either start a new deployment or restart `ncm-cdispd` (both resulting in a new run of `ncm-ncd`).

Probably a side effect of #64. May be good to fix it or revert #64 before releasing [16.6.0-rc3](http

[2016-07-11 14:32] stdweird opened #67 "NCM::Component: use CCM escape/unescape functions"
Use the ones from `CCM::Path` once https://github.com/quattor/CCM/pull/102 is merged

[2016-07-11 14:44] stdweird commented on #66
@jouvin if it is easy to reproduce, you can test it with #64 reverted?
but i doubt this is related.
is the output also missing for other components? and was there a lot of output? or some other anomaly?
if you can reproduce it, a full `--debug 5` run is welcome. both the `ncm-ncd --co spma --debug 5 >& out` as well as the spma log file.

[2016-07-11 18:34] jouvin opened #69 "ncm-ncd 16.6.0-rc3: cannot acquire ncm-ncd lock during upgrade"
During Quattor client upgrade through `ncm-cdispd`, `ncd-ncd` is run 3 times: this is due to `ncm-cdispd` service restart during upgrade of `ncm-cdispd` and `cdp-listend`. Second and third `ncm-ncd` instances are blocked by `ncm-ncd` lock, until the previous instance has completed.

It seems that the new `CAF::Lock` in 16.6.0-rc3 causes the third instance to exit before running with the message:
[

[2016-07-11 18:35] jouvin commented on #66
Apologies, completely wrong diagnosis... See #69.

[2016-07-11 18:35] #66 closed

[2016-07-11 19:11] stdweird commented on #69
@jouvin what is the timeout? (i'll open a pr to add it to the message and add unittests). that part of the code in CAF looks the same, and in ncm-ncd it is not modified.
#64 only add logging, but even without it, it should have displayed the error i think

[2016-07-11 19:39] stdweird commented on #69
@jouvin https://github.com/quattor/CAF/pull/175
looks like one retry was missing, but seems to work otherwise (and the old code typically slept half less).
is there a way to check old logs to see if during previous upgrades that triggered the 3 ncm-ncd, the 3rd didn't stop with an error?

[2016-07-11 20:33] jouvin commented on #69
I will check if I find evidence in logs. But the reason I identified the problem is that there were only 2 entries in `ncm-spma` log file created during the upgrade, instead of 3 in previous versions... SO I'm sure the 3d instance was running succesfully.

[2016-07-12 05:45] stdweird commented on #69
if the spma logs have timestamnps, can you see if the retries * timeout for ncm-ncd was high enough? i'll do some testing later today

[2016-07-15 14:05] jouvin commented on #69
I did a new test today and unfortunately was not able to reproduce the problem... Usual behaviour with this kind of timing-related condition. The log even shows that it works very much as expected!
[code]

This was obtained with the following command applied to the [full log](https://github.com/quattor/ncm-ncd/files/366099/upgrade.log.gz):
[code]

The process that most waited (`3702390`) had only

[2016-07-15 14:17] stdweird commented on #69
yes, the limit seems low (but old lock code only did half of that). 5 minutes might certainly not be enough for major OS update (esp in a cluster with lots of nodes pulling in rpms). but we also run the defaults.
i'm going to guess that the new logging shows the error, and the old one not at all or not in the same logfile.

[2016-07-15 14:41] jouvin commented on #69
Note that the low limit is a problem only if you upgrade Quattor client at the same time you do another upgrade: this is normally the only place where you will have to run `ncm-ncd` several time (from different `ncm-cdispd`) and you don't want `ncm-cdispd` to be killed because `ncm-ncd` was not able to run due to the lock (which is what happens if I'm right).

[2016-07-18 14:05] jouvin commented on #69
Any plan to do something for this potential problem or do we say that we live with it for the time being and postpone to a later release?

[2016-07-18 20:08] jouvin commented on #69
As @stdweird is not available to work more on it in the short term, I propose to postpone this issue and review after next RC if we need it or not.

[2016-07-25 11:50] jrha commented on #69
Any thoughts on whether we need this now that we have rc5?

[2016-07-25 11:54] stdweird commented on #69
need what? higher defaults? sure, why not.

[2016-07-25 12:29] jouvin commented on #69
Based on the deployment at LAL, I'd say nothing urgent... We can release 16.6.0 with this value which is already higher than before and plan for 16.8 a further increase...

[2016-07-25 14:37] jrha commented on #69
Okay!

[2016-07-28 09:42] #46 closed

[2016-07-28 09:42] #65 closed

[2016-07-28 11:42] jrha commented on #69
Agreed investigate further at standup meeting today.

[2016-07-28 12:46] jouvin commented on #69
To be a little bit more specific, there is basic agreement that a longer timeout in `ncm-ncd` (10 to 15 mn) should not hurt... but it would be good to clarify the exact impact of `ncm-ncd` failing to acquire the lock on `ncm-ncd`. When I saw the problem, I got the feeling (evidence?) that `ncm-cdispd` was terminated because of this. Normally a `ncm-ncd` problem should never terminate `ncm-cdispd`,

[2016-08-18 19:05] stdweird commented on #63
* each component class sets `CAF::Object::NoAction` to the noaction from `this_app`
 * it is not reset on destroy or anything, a single load is enough
  * anything using CAF while running noaction in ncm-ncd uses NoAction
* componentproxy sets LC::Check::NoAction (and sets it back afterwards)

propose to switch to a method to set and restore the Noaction on all possible related modules in Componen

[2016-08-18 19:27] stdweird commented on #69
should be easy to test: take the lock on command line , and restart ncm-cdispd

[code]

`ncm-cdispd` stays running

extract from ncm-cdispd log

[code]

[2016-08-24 14:08] #69 closed

[2016-08-24 14:12] jouvin commented on #69
I'll try to double check but your test seems to demonstrate that I mixed up when reading log message `ncm-cdispd` and `ncm-ncd` termination....

[2016-09-01 10:30] #48 closed

[2016-09-02 09:10] jrha commented on #55
Done in CAF but not ncm-ncd yet.

[2016-09-02 09:12] jrha commented on #67
CCM work merged, but ncm-ncd work not yet done, bumping.

[2016-09-21 07:59] jouvin opened #75 "16.8.0 on SL5: uninitialized value in ComponentPRoxy"
On our SL5 systems, running `ncm-spma` manually (using `ncm-ncd`), I got several liines:

[code]

Unfortunately this is not in any log file... this is why we missed it. I have not been able to reproduce it on SL6 machines, so I guess this is specific to SL5... As far as I can say this seems harmless but I am not sure...

[2016-09-21 08:01] stdweird commented on #75
run it with debug 5 and capture stdout/stderr, so we can see when this is generated. also, what is on line 520 in componentproxy?

[2016-09-21 08:44] jouvin commented on #75
Line 520 is:
[code]
I attach the log, not sure if it really helps...
[spma.log.gz](https://github.com/quattor/ncm-ncd/files/484510/spma.log.gz)

[2016-09-21 08:45] jouvin commented on #75
This seems to happen only with `ncm-spma`. But this may be just because this is the first component run...

[2016-09-21 10:33] stdweird commented on #75
if it is easy to reproduce, can you insert
[code]
before line 20 and send the output?

[2016-09-22 07:31] stdweird opened #76 "reset CLIST in ComponentProxyList _initialize?"
why does this even work?
https://github.com/quattor/ncm-ncd/blob/master/src/main/perl/ComponentProxyList.pm#L766

should be removed or i don't understand how the code works

[2016-09-22 07:50] stdweird opened #77 "components that have errors that are downgraded to warnings, leave empty statefile"
very likely unintended behaviour

[2016-09-22 08:13] jouvin commented on #77
Clearly not very good... and matching a problem I have seen on some machines at LAL. Could you be a little bit more specific about what triggers the problem?

[2016-09-22 08:20] stdweird commented on #77
this is a cornercase of https://github.com/quattor/ncm-cdispd/issues/35, you have to run `ncm-ncd` with `--ignore-errors-from-dependencies` which is done eg by AII the first time it runs spma.
@jouvin you are probably observing the touched statefiles from inactive components by ncm-cdispd, which would occur more frequently.

[2016-09-22 10:17] ned21 opened #78 "EL7: exception when parsing version string"
[code]

@ajf8 tracked this down to a bug in the perl  version module (shipped by Red Hat) which parses version strings. It used to be written in pure perl, but at some point they did a preferred C implementation, with fallback to the perl one. Which is why this works around it:

```# mv /usr/lib64/perl5/vendor_perl/auto/version/vxs/vxs.so{,.off}```

It’s somehow related to tainted data (which the

[2016-09-22 11:10] stdweird commented on #78
i tought we untainted the version already, because we had this issue in some other perl code.
@ned21 what the perl version rpm? (it's a bit odd we haven't seen this yet on our systems)

[2016-09-22 11:16] ned21 commented on #78
$ rpm -qf /usr/lib64/perl5/vendor_perl/version.pm
perl-version-0.99.07-2.el7.x86_64

[2016-09-22 11:50] stdweird commented on #78
with
[code]
however, we do not see the crash on centos7

[2016-09-22 11:58] NZJourneyMan commented on #78
Reproducer is:
[code]

[2016-09-22 12:10] stdweird commented on #78
@NZJourneyMan hmm, that's different (also, without `-t` or `-T`, there should be no issue). can you try the commands below?
[code]

[2016-09-22 12:12] stdweird commented on #78
@ned21 @NZJourneyMan @ajf8 please try rpm https://jenkins1.ugent.be/job/ncm-ncd-pr-builder/lastSuccessfulBuild/org.quattor.cfg.module$ncm-ncd/

[2016-09-22 12:36] NZJourneyMan commented on #78
The errors are slightly different when run from the command line. Hence why I used a small script eariler:
[code]
However the new line at end of 1.2.3 made me wonder. Adding a chomp seems to have fixed it the problem:
[code]

Working with @ajf8 yesterday it was clear that either renaming vxs.so or running without -T cleared the problem, so this looks like a slight difference between the pure perl

[2016-09-22 12:48] stdweird commented on #78
@NZJourneyMan the fix in https://github.com/quattor/ncm-ncd/pull/79 (with the rpm in the jenkins url above) should untaint the version data from the config tree. can you try that?

[2016-09-22 13:12] stdweird commented on #78
@NZJourneyMan to trigger the issue wrt tainting, do
[code]
with and without `-T`

we get
[code]
not everything is considered tainted in perl, but reading data from files typically is

[2016-09-22 14:01] ned21 commented on #78
Confirmed that fixes it.

[2016-09-22 14:04] NZJourneyMan commented on #78
As ned21 said, that fixes it.

Also I discovered that I was trying to create the reproducer on a box that had vxs.so renamed, hence the odd results - it was working as it should have. :/

[2016-09-23 08:32] #78 closed

[2016-09-23 10:20] stdweird opened #80 "ncm-ncd --configure --all should conflict with any components specified on commandline"
Currently, when `--all` is passed together with one or more components, the components specified win.
Should either give a warning or failure.

[2016-09-23 19:05] ned21 commented on #76
I imagine it "works" in normal operation because ```$self->_getComponents();``` never returns undef and the code never executes? But I agree I don't see the reason for ```$self->{CLIST} = []``` before that call. Can you set something up to trigger that code path and see what happens?

[2016-09-23 19:53] jouvin commented on #76
I tend to agree with @ned21: both L761 and L766 /could/should be removed.

[2016-09-27 13:51] stdweird opened #82 "towards `ncm-ncd` in `-T`"
currently, `ncm-ncd` has `-t` shebang, meaning anyt taint erros will be reported as warning, but nothing fatal.
there are a few paths towards running `ncm-ncd` in `-T`
 * via `ncm-cdispd` config file, and run `ncm-ncd` as `perl -Tw /usr/sbin/ncm-ncd` is some config is set
 * use something like `Taint::Runtime` and
   * enable taint via a config option in `ncm-ncd.conf`
   * enable/disable tainting

[2016-09-30 07:39] stdweird opened #84 "ComponentProxyList should reset the environment with an older original state"
the original state should be taken before the `module_load` in `_execute`
ideally, it should take the environment from an even earlier state, e.g. when `ncm-ncd` has nothing loaded yet

[2016-09-30 08:01] ned21 commented on #82
@ajf8 can you check how many of our internal components this would break please?

[2016-09-30 08:02] stdweird opened #85 "`ncm-ncd` run components in clean enviroment"
`ncm-ncd` runs the component in a almost unmodified environment, it would be interesting for reproducabiliy that this is seriously reduced (when run outside `ncm-cdispd`).

What should be allowed in env?
* PATH ->already the case
* LD_LIBRARY_PATH, LDPRELOAD
* LANG,LC,... -> these can be set based on the login session of the user that runs it (or (re)starts ncm-cdispd?)

we could provide an new op

[2016-09-30 08:03] stdweird commented on #82
most our failures were related to LC chown, we could switch to CAF::Path and untaint there (but CAF::Path currently does not untaint)

[2016-09-30 13:54] stdweird opened #86 "changes to CLI"
Propose changes to the CLI
 * `--all` implies `--configure`, no reason to add it
 * `--skip` should support comma-sperated list of components, and should work without specifiying `--all`

[2016-10-04 14:58] piojo commented on #82
Discussion from the workshop: the profile should be untainted automatically.  No amount of untainting will protect us from a profile that *setuids* `/bin/bash`.  If a profile is hostile it's game over.

However, components should untaint inputs from the file system or from subprocesses.

Workshop seems to like the idea of `Taint::Runtime`, but it is not available on EL5 (only on rpmforge).

The fi

[2016-10-04 15:05] piojo commented on #82
Morgan Stanley would appreciate if `Taint::Runtime` didn't become a dependency to be installed on all their hosts.

Something like

[code]

somewhere.

[2016-10-04 16:25] jouvin commented on #85
Suggestion is to determine what is the environment created by `service` for `ncm-cdispd` and use (hard code it in ncm-ncd) the same restricted environment as it is know to work with all components.

[2016-10-04 16:29] piojo commented on #80
Current behaviour is that `ncm-ncd --co --all spma` would run spma only, which is surprising.  The command-line parser should diagnose this case and refuse to run.

[2016-10-04 16:30] jouvin commented on #80
As per discussion at the workshop,, `--configure` (or `--unconfigure`) should remain required with `-all`.

[2016-10-05 06:19] stdweird commented on #85
we have this one on of our EL6 nodes
[code]

the LANG is the system default, we did not specify it, i guess if the LANG variable is not set, it will pick it up also. if we specify it, we should probably use `C` or `en_US.UTF-8`.
none of the the other variables are required, i think PATH is reset anyway in the perl code.

so basically, i'll try to run `ncm-ncd` with only PATH defined and see what b

[2016-10-05 14:32] piojo commented on #86
So, if I get `--skip` right, you mean:

[code]
it runs `sudo` and `useraccess` and their dependencies, but doesn't run `spma` or `accounts`,  and yet it marks them as successful so that it execution reaches `sudo` and `useraccess`?

[2016-10-05 14:37] ned21 commented on #86
--all should still require --configure as discussed in #80

--skip allowing you to skip dependencies when used without --all => agreed. Also support more than one.

--only seems like something that should be a an alias in your shell config.

If we want to do any clean up then reducing the confusion between --nodeps --noautodeps and --ignore-errors-from-dependencies would be a good thing.

[2016-10-05 14:37] jouvin commented on #86
`--nodeps` seems misleading according to the man... Should be `--ignore-missing-dependencies`...

[2016-10-09 09:17] stdweird opened #89 "Use NOQUATTOR constants from CCM::Fetch::Config"
Avoids ENV polution by CCM::Fetch::Download
Requires https://github.com/quattor/CCM/pull/136

[2016-10-10 18:32] stdweird opened #90 "Subroutine unescape redefined"
This appears after #88

[code]

looks like it's warn'ed once, during load of a a Component that also load the `unescape` function.
Those componenets should use the method insted?

[2016-10-13 06:11] stdweird opened #91 "logdir should have same permissions as cache_root"
To prevent info leakage from file diffs due to verbose_logfile

[2016-10-13 06:11] stdweird commented on #91
See https://github.com/quattor/CAF/issues/100

[2016-10-13 06:40] stdweird commented on #91
This is actually harder than expected. The cache_root permissions are derived from the CCM configfile, but there is no relation between `ncm-ncd` and that configfile. (ccm-fetch/ccm-initialise also have no knowledge of the ncm-ncd.conf file, so no clue where the logdir is)
I could copy the permission and ownership bits from the cache root apply them to the ncm-ncd logdir, but that sounds ugly.

@n

[2016-10-15 19:44] ned21 commented on #91
I think it's best to make a configuration setting in ncm-ncd.conf, logperms, or similar  (logfilemode?) and then default to owner only. Template validation can then be used to check that ncm-ncd log file modes are compatible with ccm config.

Did we agree verbose logging would be on or off by default? What is the current log perms for ncm-ncd?

[2016-10-16 08:42] stdweird commented on #91
@ned21 ccm.conf has a group_readable setting with group name and a world_reable boolean. not sure how we can check that against a single ncm-ncd.conf entry.
and you want permission set on logfile or on the logdir?

current permissions are 644.

verbose logging will be on if https://github.com/quattor/ncm-ncd/pull/88 gets merged; that's why i consider this a blocker. (verbose logging is really nice

[2016-10-17 13:59] ned21 commented on #91
I would set it on the logfiles since that's then an easy switch to make via a config option?

Handling world-readable is straight-forward (check world_readable boolean) but I can see how group_readable gets trickier. We only need world_readable so could live with that for now -- do you need group_readable? Can you clone the config from ccm and then use a template to check that the ncm and ccm conf

[2016-10-17 14:08] stdweird commented on #91
setting it on th elogfiles is actually harder, since `CAF::Log/Reporter` do not support permissions/ownership.

i would use the same config parameters as ccm `group_readable` (or `log_group_readable`) and `world_readable`; and also the same code to get the permissions.

i'm not sure the schema can set defaults like that. but an admin can ofcourse (and if the default on the logdir is perm 700 owner

[2016-10-18 05:45] stdweird opened #92 "report configuration name during ncm-ncd start"
After https://github.com/quattor/CCM/pull/137 is merged

[2016-10-18 09:05] stdweird opened #93 "switch log_world_readable default to 0"
option was introduced in with default 1 for legacy reasons, but it is not a smart thing to set (it's also 0 by default in ccm)

[2016-10-18 11:37] stdweird opened #94 "switch default verbose_logfile to 1"
verbose_logfile was introduced with default 0 for legacy reasons

[2016-10-18 20:51] #53 closed

[2016-10-18 20:51] #76 closed

[2016-10-18 20:51] #84 closed

[2016-10-18 20:51] #55 closed

[2016-10-18 20:51] #61 closed

[2016-10-18 20:51] #67 closed

[2016-10-18 20:51] #77 closed

[2016-10-18 20:51] #80 closed

[2016-10-18 20:51] #85 closed

[2016-10-18 20:51] #91 closed

[2016-10-19 09:49] jrha commented on #89
Required PR is merged.

[2016-10-19 10:13] jrha commented on #82
Discussed at workshop, does not look like it will happen for 16.10, will leave @stdweird to decide if he wants to set a milestone.

[2016-10-19 10:13] jrha commented on #50
No sign of this for 16.10

[2016-10-19 10:15] jrha commented on #86
Discussed at workshop and broadly agreed, but no sign of a PR for 16.10.

[2016-10-19 10:22] jrha commented on #54
Severity?
Likelihood of fix for 16.10?

[2016-10-19 10:24] jrha commented on #75
Seems to have stalled, but should still be fixed, bumping due to lack of time this cycle.

[2016-10-19 12:51] stdweird commented on #54
https://github.com/quattor/ncm-ncd/issues/85 was fixed by setting set the initial ENV to only PATH (and leaving LANG and friends to the system defaults).

this probably reduces the reported issue to possible misconfigured default system settings.
if needed, we can always set LANG like the example environ reported in the issue https://github.com/quattor/ncm-ncd/issues/85#issuecomment-251591518

[2016-10-19 13:22] #89 closed

[2016-11-03 13:47] jouvin opened #97 "16.10.0-rc1: set_state() message incomplete"
May be not new in this version, the message `set_state for component ...` in `set_state()` method prints the actual message with `(msg $msg)`. This results in `(msg )` when $msg is empty... Probably $msg should be tested and `empty message` or no `(...)` be displayed in this case.

[2016-11-10 07:09] stdweird opened #99 "enable check-noquattor by default"
Fix is trivial, but we need agreement.
@ned21 @jouvin @jrha please vote :smile:

[2016-11-10 21:56] ned21 commented on #99
Where do I vote / what am I voting for?

[2016-11-11 07:43] stdweird commented on #99
@ned21 to enable `check-noquattor` by default (so `ncm-ncd` doesn't do anything when `/etc/noquattor` is set, like `ccm-fecth`). you can vote by sayiing you don't mind :smile:

[2016-11-11 09:22] ned21 commented on #99
That would prevent us from being  able to validate that the host config matches the current profile and that no one has made unauthorised changes outside of Quattor. The current default works very well.

[2016-11-11 09:33] stdweird commented on #99
you can still run `ncm-ncd` when this is set, but you have to pass `--force-quattor`, like `ccm-fetch`. we just like the idea the `/etc/noquattor` disables both ccm and ncm-ncd.
out of curiosity, if you run it for validation purposes, do you run it with `--noaction`?

[2016-11-11 09:54] jrha commented on #99
I don't mind, this is what our users keep expecting `/etc/noquattor` to do anyway.

[2016-11-11 12:04] ned21 commented on #99
We use it both with --noaction (for reporting) and without (to just fix things). If this can be a config option controlled by /etc/ncm-ncd.conf then I don't know if the default is a big deal if the majority prefer a different behaviour to at present.

[2016-11-11 12:58] jrha commented on #99
As an experiment I just asked two random people in the office what `/etc/noquattor` did, they were both surprised to learn that it currently only disables ccm, which is interesting because they have known this in the past, which tells me that the current behaviour is counter-intuitive enough that the default should be changed.

[2016-11-11 17:49] stdweird commented on #99
@ned21 you can set `check-quattor = 0` in the `ncm-ncd.conf` file so nothing changes on your systems; and you can either pass `--check-quattor 1` on the commandline or do a `--force-quattor` like with ccm-fetch. it would be nice to know what other MS people think happens when noquattor is set :smile:
@jrha i agree. `/etc/noquattor` should mean no quattor.
we have had `check-quattor = 1` for a long

[2016-11-21 11:14] #97 closed

[2016-11-30 20:42] #92 closed

[2016-12-07 11:29] #99 closed

[2017-02-27 10:52] #75 closed

[2017-03-21 14:52] jrha commented on #94
Discussed at March 2017 workshop, concensus was that the verbose logging information should only appear in the component log files (i.e. /var/log/ncm/component-*.log) but not in ncm-cdispd.log, /var/log/ncm/ncd.log or syslog.

[2017-03-21 14:59] ned21 commented on #93
The config can be set (in ncm-metaconfig and interpreted by ncm-ncd) from 16.10 onwards.

[2017-03-23 14:34] stdweird commented on #90
See also https://github.com/quattor/configuration-modules-core/issues/958 and fixed in PR #102

[2017-03-23 14:35] #90 closed

[2017-03-23 14:36] #54 closed

[2017-03-27 16:49] jouvin opened #110 "ncm-ncd pre and post actions"
This (very long) issue is a former page of the Trac wiki about an idea discussed a while ago. Not clear if this is still matching a use case... but a GH issue seems the best place to archive it!

------------------------
We want to be able to take actions before and after components are
executed, with no link to the profile. Use cases include:

-   Report the execution results to the monitoring ri

[2017-03-28 20:16] ned21 commented on #110
I believe this was implemented, as `--pre-hook` and `--post-hook` - cf. https://github.com/quattor/ncm-ncd/blob/master/src/main/scripts/ncm-ncd.pod ?

[2017-03-28 21:21] jouvin commented on #110
@ned21 as said this is old stuff from the Trac wiki and I was not able to judge myself whether it was still relevant... thus this issue. But it may be that this is already implemented or no longer relevant... Feel free to say so!

[2017-03-30 17:39] stdweird commented on #110
Main differences with what exists
* there is no `run_init` and/or `run_finalize`
* only scripts are allowed for `pre/post-hook`, no perl modules.

I'm assuming the original wiki page is an RFC rather than actual documentation, otherwise some code got removed/lost.

[2017-03-30 17:46] jouvin commented on #110
Exactly, the original page was an RFC... thus the issue. May be worth reopening and rediscussing at a next workshop if this is worth doing something...

[2017-04-10 11:58] stdweird opened #111 "Fix typo in message"
[code]

[2017-05-15 11:53] msmark opened #114 "ncm-ncd: timeout on stuck NCM components"
As discussed on the [mailing list](https://sourceforge.net/p/quattor/mailman/message/35840331/), `ncm-ncd` should have a configurable timeout setting that will cause NCM components that have stuck indefinitely for whatever reason not to prevent `ncm-ncd` from continuing with its job and completing with an exit status.  `ncm-ncd` should behave in one of three ways:

1) Current behaviour, i.e. timeo

[2017-06-14 12:30] stdweird commented on #63
also, every component has its own `NoAction` variable (and it's exported).
it is sometimes used by the components.

this variable is set first and then CAF::Object::NoAction gets the same value.

this is getting confusing very fast.

[2017-06-27 15:12] jrha opened #116 "hasFile() prevents component modules from being relocated"
The expected location for externally packaged Perl modules varies with distribution and may change in future releases:
* EL6 and EL7 — [`/usr/share/perl5/vendor_perl`](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Developer_Guide/lib.details.html#idp14646592)
* Debian (and derivatives) — [`/usr/share/perl5`](https://www.debian.org/doc/packaging-manuals/perl-policy/c

[2017-06-27 15:16] stdweird commented on #116
@jrha so accounts.pm is found, but dirperm.pm isn't?

[2017-06-27 15:17] jrha commented on #116
Yes. In the example above I installed accounts.pm in /usr/share/perl5/NCM/Component/, dirperm was not installed at all.

[2017-06-27 15:19] jrha commented on #116
i.e.
[code]

[2017-06-28 14:43] jrha opened #118 "Tabcompletion tests require CCM"
While this [appears to be intentional](https://github.com/quattor/ncm-ncd/blob/d9b5fa7d49a120eeeb557c5aadbdbf9393b07acb/src/test/perl/tabcompletion.t#L25) it is very confusing for anyone trying to run tests in an isolated environment on a unmanaged host, could we fail with a bigger, more helpful error message?

[2017-07-24 20:30] #93 closed

[2017-07-24 20:30] #94 closed

[2017-07-25 09:50] #111 closed

[2017-10-25 14:42] jrha commented on #63
Discussed at RAL workshop, concluded that this is not urgent, but if @stdweird feels like working on it... feel free.

[2018-02-06 22:36] jrha commented on #118
This is still the case and still confusing.

[2018-04-25 12:44] jouvin commented on #110
Current implementation is considered enough for our current use cases... Closing this issue and waiting for someone to raise that the missing bits are important to implement...

[2018-04-25 12:44] #110 closed

[2018-04-25 12:58] jouvin commented on #30
April 2018 workshop: very old issue, need to check if it is still relevant after all the changes undergone by `ncm-ncd`. Now that everything is wrapped into CAF::Process, it may be that there no issue left related to this and in this case, the issue should be closed.

[2018-04-25 13:18] stdweird commented on #30
confirmed that `nmc-cdispd` logs everything
also confirmed that a manual inserted broken dependency is not logged by `ncm-ncd` (in `/var/log/ncm/ncd.log` or in the component log file.)

[2018-04-25 13:21] #30 closed, assigned to stdweird

[2018-04-27 04:50] stdweird commented on #30
i retested the issue.
inserting a unknown module (`use abcd;`) in `spma.pm` reports the failure in the `ncd.log` file
inserting a unknown module in `spma/yum.pm` reports failure in `component-spma.log`

so there is no issue afaik

[2018-05-22 18:54] jrha opened #125 "Think about integrating distributed lock managers"
We would like to ensure that hosts in HA clusters cannot run components at the same time, an obvious solution to this would to be to use a distributed lock manager such as Zookeeper or etcd. This is to prevent outages when services get restarted on multiple hosts simutaneously.

One day it would really nice to be able to make use of aquilon's cluster metadata (e.g. `down_hosts_threshold`) with thi

[2018-05-22 19:32] jrha commented on #125
I guess `pre_script` could be used for this, but some care might be required to handle timeouts.

[2018-05-22 19:37] stdweird commented on #125
`ncm-ncd` already takes a lock, maybe extend that to a "global" lock somehow.

[2018-05-22 20:38] ned21 commented on #125
+1 to implementing this via the pre-hook. Does your HA software provide anyway to take a lock within cluster? That would remove the need for an external arbitrator.

[2018-05-22 20:43] jrha commented on #125
Mostly no, and it would be more useful to us as a generic solution (e.g. prevent too many of any arbitrary class of node being interrupted – to prevent a degradation in service rather than an outage)
We already have etcd for other purposes, so we're quite happy to extend it's reach.

[2018-10-31 16:12] #116 closed

[2021-12-20 16:46] jrha opened #131 "Test for component results breaks due to ordering differences with Perl versions"
The current test passes with Perl v5.26.3 on CentOS8, but not with v5.16.3 on CentOS7 or v5.10.1 on CentOS6.

This can also be seen in the nightlies:
![image](https://user-images.githubusercontent.com/323309/146790761-d4be8524-2d50-45d5-8949-db3ceed68ac4.png)

I have commented the checks out to release 21.12 in f3a05a80f4c8603e519f41baf318e6f5f84e8f16 but this is a poor fix.

For what it is worth,

[2021-12-21 17:55] jrha commented on #131
Looking at this more closely, only a single test is failing, so it's not an ordering issue.

[code]
This fails as `@pre` contains:
[code]
When the code is run with the earlier Perl versions.

[2022-02-11 11:20] drossy opened #132 "Add preprocessor hook"
We're investigating how we can manage our secrets external to quattor/aquilon, in something like Vault (https://www.vaultproject.io/). Is it feasible to add a preprocessor hook to ncm-ncd? Similar to the pre-hook but with the ability to update the profile (which we'd use to replace placeholder credentials in the profile with the correct ones from our secret management tool), which would then be us

[2022-02-11 11:30] jrha commented on #132
Alternatively, if the secret management tool knows what files to update then it could be triggered by the existing `post_hook`

[2022-02-11 11:36] stdweird commented on #132
if you want to manipulate the profile, you can do it in pan (but them compilation hosts needs access to all secrets), ccm (when parsing the profile, it could inject data) or ncm-ncd; but none of these have anything easy builtin to do so. however, if you know some perl, it shouldn't be too hard to hack it in. to have a clean supported solution is probably more work, starting with proper design :win

[2022-02-11 11:45] drossy commented on #132
But that has the issue that more components will always be running, even when the total change is zero. And won't it add a small potential issue of the wrong credentials being in place temporarily until the post-hook runs?

[2022-02-14 22:13] ned21 commented on #132
If you are going to modify the profile then I would think CCM is the right place to do it, some sort of post-processing after ccm-fetch. This means your secrets are all available in /var/lib/ccm but then if you are writing them to config files on disk then root can read them anyway, and it also removes the dependency on Vault being available every time ncm-ncd runs: it only has to be up during the

[2022-02-15 13:17] jrha commented on #132
This feels similar to the functionality we removed back in 2016 in https://github.com/quattor/CCM/pull/145

[2022-02-15 16:32] gombasg commented on #132
I don't know the all the details, but the request feels wrong. You should not mix secrets with configuration. Secrets should always be stored in distinct files, and the configuration deployed by Quattor should only reference the location of those files. The exact implementation may depend on what kind of software are you configuring. Security conscious software should allow (or outright require) s

[2022-02-15 17:38] drossy commented on #132
I'd agree but secrets are already mixed with configuration in quattor: https://github.com/quattor/template-library-core/search?q=password

[2022-02-15 20:16] drossy commented on #132
Bah, apologies, I feel that was too snarky, let me try again. I think that secrets are configuration items, though ones that need special handling. If I want to configure a service that access a remote database it normally needs 4 things, hostname, database  name, username and password - without any of those items configuration of the service will fail. But at least 1 of those you will not want to